---
import RC from '../components/HelloReact'; 
import VC from '../components/HelloVue.vue'; 

const make_happy = 19 ; 
---
<!DOCTYPE html>
<html lang="en">
	<main></main>
	<RC client:idle/>
	<VC client:load/>
	{make_happy}
</html>
