html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  display: none;
}




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Source+Code+Pro:ital,wght@1,300&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');


.mono_text1{
  font-family: 'Fira Code', monospace;
}
.mono_text2{
  font-family: 'Source Code Pro', monospace;
}
.mono_text3{
  font-family: 'Major Mono Display', monospace;
}


/* =========== */
@import url('https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&display=swap');

.hand_text1{
  font-family: 'Dawning of a New Day', cursive;
}

.star-active{
  


  -webkit-animation: glowy 8s ease-in-out  alternate;

    animation: glowy 8s ease-in-out  alternate;




}


@keyframes  glowy{
  0%{
      box-shadow: 1px 1px 40px 200px black;
  }
  33%{
      box-shadow: 1px 1px 40px 50px gray;
  }
  100%{
      box-shadow: 1px 1px 20px 8px skyblue;
  }
        66% {
          box-shadow: 1px 1px 40px 21px white;
        }
}







/* ============= */

@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39&display=swap');

.barcode{
  font-family: 'Libre Barcode 39', cursive;
}

/*? Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
